html,body {
    background-image: linear-gradient(#313030, #000);
    color: #eee;
    font-size: large;
    display: contents;
    padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.profile {
  margin: 40px;
}

.container {
    display: flex;
    justify-content: left;
}

.container h1,h3 {
  padding: 10px;
  margin: 0;
}

.img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.icon_container {
    background-color: #d3d3d3;
    margin: 10px;
    border-radius: 10%;
}
.icons {
    width: 50px;
    height: 50px;
}

.bar {
    list-style: none;
  }
  .bar >li {
    position: relative;
  }
  .bar>li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
  }
  .bar>li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    border-left: 2px solid #eee;
    margin-left: 5px;
    height: 100%;
  }
  .bar >li:first-of-type:after {
    top: 40%;
  }
  .bar >li:last-of-type:after {
    top: -60%;
  }
  .bar_content {
    padding-left: 40px;
  }
  .bar_header {
    font-size: 20px;
  }

